@import '../../../styles/settings.scss';

.root {
  .editpost {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: 200px;
    margin: 10px 20px;
    color: whitesmoke;
    background: rgb(115, 231, 124);
    border: none;
  }

  .addpicture {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: 200px;
    margin: 10px 20px;
    color: whitesmoke;
    background: rgb(115, 231, 124);
    border: none;
  }

  Input {
    color: rgb(15, 13, 25);
    background-color: whitesmoke;
    border-radius: 4px;
    width: 300px;
    height: 35px;
    margin: 10px 0 20px 0;
  }


}
