@import '../../../styles/settings.scss';

.root {

  .login {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 10px 10px 10px 0;
    width: 200px;
    color: whitesmoke;
    background: rgb(115, 231, 124);
    border: none;
  }

  .logout {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    width: 200px;
    background: rgb(240, 100, 96);
    color: whitesmoke;
    border: none;
  }

  p {
    text-align: center;
    font-size: 60px;
    margin: 0;
  }
}
