@import '../../../styles/settings.scss';

.root {
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 15px 0;
  }

  .addnewpost {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 10px 20px;
    width: 200px;
    color: whitesmoke;
    background: rgb(115, 231, 124);
    border: none;
  }

  .list {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    margin: 5px 500px;
    color: rgb(15, 13, 25);
    background: rgb(222, 228, 222);
    width: 800px;
    padding: 10px 0;
  }
}
